/* General */
a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}

a.btn {
    margin-top: 1%;
    margin-bottom: 1%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    -webkit-font-feature-settings: normal;
    color: black;
    text-decoration: underline;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: grey;
}

/* Header  */
#straw-hat-pirate-logo {
    width: 6.25rem;
}

.navbar {
    padding: 0 6.25rem;
}

.navbar-item {
    padding: 0 18px;
    font-size: 50px;
}

.nav-link:hover{
    color: deepskyblue;
}


/* Sections */
.colored-section {
    background-color: #ffc107;
    /* color: white; */
}

.white-section {
    background-color: white;
}

/* Top Container */
#top-container .container-fluid {
    padding: 7% 15%;
    text-align: center;
}

#crew-buttons {
    margin-top: 7%;
}

.one-piece-logo {
    max-inline-size: 100%;
    block-size: auto;
}


/* Middle Container */
#middle-container .container-fluid {
    padding: 7% 15%;
    text-align: center;
}

.carousel {
    padding-bottom: 4rem;
}

.carousel-caption {
    /* padding-top: 1.25rem;
    padding-bottom: 1.25rem; */
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media screen and (max-width: 1398px) {
    p.crew-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: .9375rem;
        color: grey;
    }
}

@media screen and (max-width: 926px) {
    p.crew-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: .75rem;
        color: grey;
    }
}

/* @media screen and (max-width: 886px) {
    p.crew-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: .9375rem;
        color: grey;
    }
} */

@media screen and (max-width: 764px) {
    p.crew-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: .625rem;
        color: grey;
    }

}

@media screen and (max-width: 389px) {
    p.crew-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: .5rem;
        color: grey;
    }
}

.crew-img {
    margin-bottom: 6.25rem;
    max-width: 100%;
    width: 46rem;
    height: auto;
    object-fit: contain;
}

.devilFruitImg {
    margin-bottom: 6.25rem;
    max-width: 100%;
    width: 15.625rem;
    height: auto;
    object-fit: contain;
}

.luffy-funny-face {
    position: relative;
    right: 15px;
    bottom: 0px;
    width: 50%;
    height: auto;
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 50%;
}

.no-food-sign {
    position: relative;
    top: 10px;
    left: 0px;
    width: 30%;
    height: auto;
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 50%;
}

/* Bottom Container */
#bottom-container .container-fluid{
    padding: 7% 15%;
    text-align: center;
}

footer {
    text-align: center;
}