/* General */
a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: grey;
}

/* Header  */
#straw-hat-pirate-logo {
    width: 6.25rem;
}

.navbar {
    padding: 0 6.25rem;
}

.navbar-item {
    padding: 0 18px;
}

.navbar-item {
    font-size: 50px;
}


/* Sections */
.colored-section {
    background-color: #f8d165;
    /* color: white; */
}

.white-section {
    background-color: white;
}

/* Top Container */
#top-container .container-fluid {
    padding: 7% 15%;
    text-align: center;
}

.one-piece-logo {
    max-inline-size: 100%;
    block-size: auto;
}


/* Middle Container */
#middle-container .container-fluid {
    padding: 7% 15%;
    text-align: center;
}

@media (max-width: 1045px) {
    
}

.luffy-funny-face {
    position: relative;
    right: 150px;
    bottom: 10px;
    width: 25rem;
    height: auto;
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 50%;
}

.no-food-sign {
    position: relative;
    top: 10px;
    left: 150px;
    width: 15rem;
    height: auto;
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 50%;
}

/* Bottom Container */
#bottom-container .container-fluid{
    padding: 7% 15%;
    text-align: center;
}

footer {
    text-align: center;
}